<div class="main-page">
    <div class = "main-page-dialog">
        <h1>
            Welcome to JeriFlix!
        </h1>
        <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 10px;" color="primary">
            Sign Up
        </button>
        <button mat-raised-button (click)="openUserLoginDialog()" style="margin-right: 10px;" color="primary">
            Login
        </button>
    </div>
    <div class = "main-page-image-container">
        <img class = "main-page-image" src = "https://image.cnbcfm.com/api/v1/image/107198349-1677094004134-gettyimages-1413907398-img_9361.jpeg?v=1706809419&w=1600&h=900"/>
    </div>
    
</div>