.main-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.main-page-dialog{
    text-align: center;
}

.main-page-image{
    height: auto;
    width: 100%;
    border-radius: 50px;
}