<mat-progress-spinner style="margin:0 auto;" class="spinner" *ngIf="loading"
    mode="indeterminate"></mat-progress-spinner>

<mat-card>
    <mat-card-header>
        <mat-card-title>Update Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field>
                <mat-label>New Password</mat-label>
                <input matInput [(ngModel)]="newPassword" type="password" placeholder="New Password" name="Password"
                    required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Confirm your Password</mat-label>
                <input matInput [(ngModel)]="passwordConfirmed" type="password" placeholder="Confirm Password"
                    name="Password Confirmation" required>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="confirmAndUpdatePassword()" color="primary">
            Update Password
        </button>
    </mat-card-actions>
</mat-card>