<mat-card *ngIf="movie">
    <mat-card-header>
        <mat-card-title> movie.Title</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div style="display: flex;">
            <mat-card-content style="flex: 1;">
                <img [src]="movie?.ImagePath" [alt]="movie?.Title" [title]="movie?.Title">
            </mat-card-content>
            <mat-card-content style="flex: 3; padding-left: 20px;">
                <p class = "movie.Description">Description: {{ movie.Description }}</p>
                <p class = "movie.Genre">Genre: {{ movie.Genre }}</p>
                <p class = "movie.Director">Director: {{ movie.Director.Name }}</p>
            </mat-card-content>
        </div>
    </mat-card-content>
</mat-card>
