.profile-page {
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px;
}

#full-card{
    background-image: linear-gradient(to right,  green, white, white, white, white, white, green);
    border-radius: 20px;
    padding: 30px;
    padding-right: 5px;
}

.profile-card {
    display: grid;
    grid-template-columns: 65% 35%;
    border-radius: 20px;
    height: 100%;
}

#profile-title {
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    text-decoration: double underline
}

#profile-details {
    text-align: left;
    justify-content: space-between;
}

.user-details{
    margin: 15px 0px;
    font-size: 125%;
}

#profile-picture {
    padding: 0;
    border: 10px solid black;
    border-radius: 20px;
}

.carousel-container {
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.movie-button:hover {
    cursor: pointer;
    z-index: 2;
}

.favorite-movies {
    display: flex;
    flex-direction: row;
    width: 35vw;
    height: 20vw;
    margin-left: 200px;
    overflow: visible;
}

.menu-button {
    background-color: transparent;
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 1000;
    transform: scale(2);
}

.menu-button:hover {
    cursor: pointer;
}