<mat-progress-spinner style="margin:0 auto;" class="spinner" *ngIf="loading"
    mode="indeterminate"></mat-progress-spinner>

<div class="profile-page">
    <owl-carousel-o #owlCarousel class="favorite-movies" [options]="customOptions" (changed)="onSlideChanged()">
        <ng-container *ngFor="let movie of favoriteMovies let i = index">
            <ng-template carouselSlide [id]="movie?._id">
                <img class="movie-button" [src]="movie?.ImagePath" [alt]="movie?.Title" [title]="movie?.Title">
            </ng-template>
        </ng-container>
    </owl-carousel-o>
    <mat-card>
        <mat-card-title>Welcome to my page!</mat-card-title>
        <mat-card-content>
            <div>
                Username: {{user.Username}} <br>
                Email: {{user.Email}} <br>
                Birthday: {{user.Birth | date:'longDate'}}<br>
                Bio: {{user.Bio}}<br>
            </div>

            <div>
                <img mat-card-md-image src="{{user.ProfilePicture}}">
            </div>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="updateUser()" color="primary" style="margin: 20px;">
                Update User
            </button>
            <button mat-raised-button color="primary" (click)="deleteUser()" style="margin: 20px;">
                Delete Account
            </button>
        </mat-card-actions>
    </mat-card>
    <button mat-fab class="profile-fab" [matMenuTriggerFor]="menu">
        +
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openMovieList()">Home</button>
            <button mat-menu-item (click)="logOut()">Logout</button>
        </mat-menu>
    </button>
</div>